*{border: 1px solid black;}*
body {font-family: 'Clicker Script', cursive;
background-image: url("https://static.vecteezy.com/system/resources/previews/000/104/103/original/retro-background-pattern-vector.jpg");}
/*conception header*/
header img {width: 250px;
height: 250px;
}
h1 {
width: 500px;
font-size: 60px;
margin-left: 450px;
margin-top: -210px;
font-size: 100px;
}
#vintage {margin-top: -95px;
margin-left: 70%;
font-size: 60px;
background-color: rgba(247, 240, 226, 0.89);
width: 18%;
height: 30%;
}
header {
height: 250px;
display: inline-block;
background-color: rgba(200, 187, 115, 0.92);
border: 5px solid black;
padding-right: 335px;
}
/*conception de la barre menu*/
#navigation {width: 100%;
list-style: none;
margin: 0;
padding: 0;
text-align: center;
margin-top: 10px;
}
#navigation li {background: rgb(241, 62, 14);
display: inline;
color: black;
border:1px solid black;
margin-right: 10px;
font-size: 35px;
}
#navigation li a {background: rgb(241, 62, 14);
color: black;
font: 1em;
text-align: center;
text-decoration: none;
padding: 4px 20px;
border: 1px solid black;
}
#navigation li a:hover{background-color:rgb(9, 145, 137);}
/*conception des fiches produits*/
#articles {
width: 100%;
height: 100%;
text-align: center;
font-size: 25px;
margin-top: 60px;
font-weight: bold;
}
.minitel img {width: 170px;
height: 120px;
margin-top: 2px;
margin-bottom: 2px;
float: left;
}
.gameboy img {width: 90px;
height: 120px;
float: left;
}
.walkman img {width: 170px;
height: 120px;
float: left;
}
.minitel {display:inline-block;
background-color:rgba(247, 240, 226, 0.89);
width: 25%;
height: 30%;
}
.gameboy {display:inline-block;
background-color:rgba(247, 240, 226, 0.89);
width: 25%;
height: 30%;
vertical-align:top;

}
.walkman {display:inline-block;
background-color:rgba(247, 240, 226, 0.89);
width: 25%;
height: 30%;
}
h2 {border-style: groove;
margin-top: 1px;
margin-bottom: 1px}
h3 {font-style: italic;
margin-top: 1px}
/*#heightarticlegameboy {margin-bottom: 91px;}*/
