*{border: 1px solid black;}*
body {font-family: 'Clicker Script', cursive;
background-image: url("https://static.vecteezy.com/system/resources/previews/000/104/103/original/retro-background-pattern-vector.jpg");}
header img {width: 200px;
height: 200px;
}
h1 {
width: 500px;
font-size: 60px;
margin-left: 450px;
margin-top: -200px;
font-size: 100px;}
#vintage {margin-top: -95px;
margin-left: 50%;
font-size: 60px;
background-color: rgba(247, 240, 226, 0.89);
width: 13%;
height: 30%;}
header {width: 100%;
height: 200px;
display: inline-block;
background-color: rgba(200, 187, 115, 0.92);
border: 5px solid black;
margin-right: 10px;
}
